@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=Rubik:wght@300;500&display=swap");
h1 {
  color: #1100a1;
}

h3, h5 {
  background: #1100a1;
  color: #fff;
}

.data {
  color: #fff;
}

.new-confirmed .data, .total-confirmed .data {
  background: #f55700;
  border-color: #f55700;
}

.new-deaths .data, .total-deaths .data {
  background: #af1414;
  border-color: #af1414;
}

.new-recovered .data, .total-recovered .data {
  background: #452fff;
  border-color: #452fff;
}

.error {
  color: #fc2828;
  margin: 1rem;
}

body {
  text-align: center;
}

.container {
  margin: 2rem;
  border: 3px solid #1100a1;
  margin: 20px auto;
  max-width: 300px;
}
.container div {
  padding: 1rem;
}

.search-result {
  display: none;
}

.searches {
  height: 130px;
}

h3, h5 {
  margin: 0;
  padding: 2rem;
  letter-spacing: 1px;
}

h6 {
  margin-bottom: 3px;
}

.data {
  border: 1px solid;
  border-radius: 999px;
  width: 80px;
  margin: 0 auto;
}

@media (min-width: 770px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 300px;
  }

  .error {
    grid-column: 1/2;
  }

  .search-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .show.search-result {
    grid-column: 1/2;
    grid-row: 3/span 3;
    max-width: none;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
  }

  .searches-container {
    grid-column: 2/3;
    grid-row: 1/span 3;
  }

  .world-result {
    grid-column: 2/3;
    grid-row: 4;
  }

  .container {
    margin: 15px;
  }

  #search-data-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid #1100a1;
  }
}
.search-result.show {
  display: block;
}

.show.fade-in {
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.error-animation {
  animation: shake 0.5s 0.25s;
}
.error-animation input {
  color: #fff;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
h1 {
  color: #1100a1;
}

h3, h5 {
  background: #1100a1;
  color: #fff;
}

.data {
  color: #fff;
}

.new-confirmed .data, .total-confirmed .data {
  background: #f55700;
  border-color: #f55700;
}

.new-deaths .data, .total-deaths .data {
  background: #af1414;
  border-color: #af1414;
}

.new-recovered .data, .total-recovered .data {
  background: #452fff;
  border-color: #452fff;
}

.error {
  color: #fc2828;
  margin: 1rem;
}

/* Search Icon */
.search-button {
  outline: none;
  border: 1px solid #452fff;
  background: #fff;
  padding: 5px;
  width: 30px;
}

#search-icon {
  font-size: 20px;
  display: inline-block;
  width: 10px;
  box-sizing: content-box;
  height: 10px;
  border: 0.1em solid #452fff;
  position: relative;
  border-radius: 0.35em;
}

#search-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #452fff;
  width: 7px;
  height: 2px;
  transform: rotate(45deg);
}

/* Input */
.search-container {
  display: flex;
}
.search-container .input {
  border: 1px solid #452fff;
  width: 100%;
  margin-left: 10px;
}
.search-container .input:focus {
  outline: none;
  box-shadow: -5px 5px 6px -2px #452fff;
}
.search-container .search-button {
  margin-left: -1px;
  margin-right: 10px;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 600;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 400;
}

/*# sourceMappingURL=styles.css.map */
