@import 'layout';
@import 'animation';
@import 'colors';

/* Search Icon */
.search-button {
  outline: none;
  border: 1px solid $light-blue;
  background: #fff;
  padding: 5px;
  width: 30px;
}
#search-icon {
  font-size: 20px;
  display: inline-block;
  width: 10px;
  box-sizing: content-box;
  height: 10px;
  border: 0.1em solid $light-blue;
  position: relative;
  border-radius: 0.35em;
}
#search-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: $light-blue;
  width: 7px;
  height: 2px;
  transform: rotate(45deg);
}

/* Input */
.search-container {
  display: flex;
  .input {
    border: 1px solid $light-blue;
    width: 100%;
    margin-left: 10px;

    &:focus {
      outline: none;
      box-shadow: -5px 5px 6px -2px $light-blue;
    }
  }
  .search-button {
    margin-left: -1px;
    margin-right: 10px;
  }
}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=Rubik:wght@300;500&display=swap');
h1, h2, h3, h4, h5, h6 {font-family: 'Rubik', Helvetica, sans-serif; font-weight: 600;}

body {font-family: 'Quicksand', sans-serif; font-size: 400;}