body {
	display: flex;
	justify-content: center;
}

main {
	width: 460px;
	font-family: Helvetica, sans-serif;
}

main div {
	max-width: 450px;
	min-width: 430px;
}

h1 {
	text-align: center;
}

li.completed p {
  text-decoration: line-through;
}

div.list {
	border: 3px solid #666;
}

div.list ul {
	padding: 0;
	margin: 0;
	width: 424px;
	list-style: none;
}

div.list ul:last-child {
	border-bottom: none;
}

div.list ul li:nth-of-type(even) {
	background-color: #b8b8b8;
}

div.list ul li {
	padding: 10px;
	border-bottom: 3px solid #666;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	width: 100%;
}

div.list ul li p {
	margin: 0;
}

div.info {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}


div.footer {
	margin-top: 50px;
}

div.footer input {
	padding: 3px;
	width: 88%;
}

div#error {
	color: #e60000;
	margin-bottom: 5px;
}

ul#tasklist li input {
	accent-color: #259125;
}