body {
	display: flex;
	justify-content: center;
}

main {
	width: 460px;
	font-family: Helvetica, sans-serif;
}

main div {
	max-width: 450px;
	min-width: 430px;
}

h1 {
	text-align: center;
}

li.completed p {
  text-decoration: line-through;
}

div.list {
	border: 3px solid #666;
}

div.list ul {
	padding: 0;
	margin: 0;
}

div.list ul:last-child {
	border-bottom: none;
}

div.list ul li:nth-of-type(even) {
	background-color: rgb(184, 184, 184);
}

div.list ul li {
	list-style-type: none;
	padding: 10px;
	border-bottom: 3px solid #666;
	display: flex;
	align-items: center;
}

div.list ul li p {
	flex: 3;
}

div.info {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


div.footer {
	margin-top: 50px;
}

div.footer input {
	padding: 3px;
	width: 88%;
}

div.delete {
	cursor: pointer;
}